body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #4b0082 0%,
    #7c5295 25%,
    #9e8ba8 50%,
    #c0c4bb 75%,
    #ffffff 100%
  );
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the navigation menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #4b0082;
  font-weight: bold;
}

nav ul li a:hover {
  color: #7c5295;
}

/* Style the OBA logo */
#oba-logo {
  height: 50px; /* Adjust the height as needed */
}

.chat-container {
  width: 66%;
  margin: 20px auto;
}

.chat-header h1 {
  margin-top: 0;
}

.chat-header p {
  margin: 0 0 20px 0;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 300px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-message.user {
  align-items: flex-end;
}

.chat-message.oba {
  align-items: flex-start;
}

.chat-message label {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-message p {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  max-width: 70%;
  word-wrap: break-word;
}

.categories {
  display: flex;
  flex-direction: column;
}

.category-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.category-container h2 {
  margin-top: 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.result-item {
  margin: 10px;
  max-width: 200px;
  max-height: 300px;
  overflow: hidden;
}

.result-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.chat-input input {
  border-radius: 25px;
}

.chat-input button {
  border-radius: 25px;
}
