body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #4b0082 0%,
    #7c5295 25%,
    #9e8ba8 50%,
    #c0c4bb 75%,
    #ffffff 100%
  );
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #7c5295;
}


#oba-logo {
  height: 50px; 
}

.main-container {
 display: flex;
}

.chat-container {
  width: 33%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.chat-header h1 {
  display: none;
}

.chat-header p {
  margin: 0 0 20px 0;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 300px;
  position: relative;
}

.chat-message {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-message.bot {
  align-items: flex-start;
}

.chat-message.bot span {
  background-color: #F5F5F5;
  border-radius: 15px;
  padding: 10px;
  margin: 0;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-message.user {
  align-items: flex-end;
}

.chat-message.user span {
  background-color: #4b0082;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 0;
  max-width: 70%;
  word-wrap: break-word;
}


.categories {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.category-container {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.category-container h2 {
  margin-top: 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.result-item {
  margin: 10px;
  max-width: 200px;
  max-height: 300px;
  overflow: hidden;
}

.result-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.chat-input input {
  border-radius: 25px;
}

.chat-input button {
  border-radius: 25px;
}
